<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if a == 2 %}
    2 ga teng
{% else %}
    teng emas
{% endif %}

live reload

<h1>hello {{ bgfdgjd }}</h1>

{% for post in posts %}
    {{ post.id }} <br>
{% endfor %}

{#{% endfor %}#}

{#{% for post in posts %}#}
</body>
</html>
